.heroSection {
  position: relative;
  width: 100%;
  height: 300px;
  display: block;
  font-size: 12px;
  border: 1px solid transparent;
}
.heroSection_wrap {
  margin-top: 100px;
  color: white;
  width: 100%;
  z-index: 2;
  text-align: center;
}
.heroSection_wrap h1 {
  font-weight: 20;
}
.uppercaseWords {
  display: block;
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
}
.buttonWrap {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  justify-content: center;
  z-index: 2;
}

.videoWrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}
.videoWrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 240px) {
  .buttonWrap {
    display: flex;
  }
}

@media screen and (min-width: 450px) {
  .heroSection {
    height: 400px;
  }
  .heroSection_wrap {
    display: block;
    width: 80%;
  }
  .heroSection_wrap {
    font-size: 20px;
  }
  .uppercaseWords {
    font-size: 34px;
  }
  .buttonWrap {
    margin-top: 40px;
  }
}
@media screen and (min-width: 600px) {
  .buttonWrap {
    margin-top: 20px;
    font-size: 12px;
  }
  .uppercaseWords {
    font-size: 50px;
  }
  .heroSection_wrap h1 {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .heroSection {
    height: 600px;
  }
  .heroSection_wrap {
    width: 80%;
    margin: 150px auto 0 auto;
  }
  .heroSection_wrap h1 {
    font-size: 48px;
  }
  .buttonWrap {
    margin-top: 80px;
    font-size: 18px;
  }
  .uppercaseWords {
    font-weight: 800;
    font-size: 60px;
  }
}
@media screen and (min-width: 1000px) {
  .heroSection {
    font-size: 20px;
  }

  .heroSection_wrap {
    text-align: left;
    font-size: 40px;
  }
  .buttonWrap {
    margin-top: 100px;
    justify-content: left;
    font-size: 17px;
  }
}
