.header__contactsSection {
  position: relative;
  width: 100%;
  justify-content: space-around;
  display: none;
}
.contactsSection_logo {
  align-items: center;
  width: 33%;
  display: flex;
}
.header__nav_logo {
  display: block;
  width: auto;
  padding: 5px;
}
.header__nav_logo:hover {
  cursor: pointer;
}
.logoDesc {
  width: 50%;
  padding: 5px;
  padding-left: 10px;
  border-left: 1px solid var(--perfectLightBlue);
}

.contactsSection_getTheCall {
  display: flex;
  align-items: center;
  text-align: center;
  width: 33%;
  padding: 25px;
  justify-content: center;
  flex-direction: column;
}

.contactsSection_contacts {
  position: relative;
  text-align: left;
  display: none;
  margin-top: 5px;
  margin-left: 80px;
}
.contactsSection_contacts p {
  margin: 10px 0 0 0;
}
.callIcon,
.emailIcon,
.instaIcon {
  position: relative;
  width: 20px;
  top: 7px;
  margin-right: 10px;
}
.contactsSection_contacts__link:hover a,
.contactsSection_contacts__link:active,
.contactsSection_contacts__link:focus {
  color: var(--perfectLightBlue);
}

@media screen and (min-width: 768px) {
  .header__contactsSection {
    display: flex;
  }
  .header__nav_logo {
    width: 180px;
  }
}
@media screen and (min-width: 1000px) {
  .contactsSection_contacts {
    display: block;
  }
  .header__contactsSection {
    justify-content: space-between;
  }
}
