.header__contactsSection {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
}
.contactsSection_logo {
  align-items: center;
  width: 33%;
  display: flex;
}
.header__nav_logo {
  width: 140px;
  padding: 5px;
}
.logoDesc {
  width: 50%;
  padding: 5px;
  padding-left: 10px;
  border-left: 1px solid var(--perfectLightBlue);
}

.contactsSection_getTheCall {
  display: flex;
  align-items: center;
  text-align: center;
  width: 33%;
  padding: 25px;
  justify-content: center;
  flex-direction: column;
}

.contactsSection_contacts {
  position: relative;
  text-align: left;
  margin-top: 5px;
  margin-left: 80px;
}
.callIcon,
.emailIcon {
  position: relative;
  width: 20px;
  top: 7px;
  margin-right: 10px;
}
.contactsSection_contacts__link:hover {
  color: var(--perfectLightBlue);
}
