.mySwiper {
  margin-top: -100px;
  height: auto;
  width: 99%;
  padding: 0 10px;
  height: 620px;
}
.slide {
  width: 100%;
  height: 90%;
  border: 10px solid white;
  background-color: white;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, var(--lightBlueColor2), white);
  box-shadow: var(--smallShadow);
}
.slide:hover,
.slide:active {
  border-image-source: linear-gradient(to top, var(--blueColor), white);
  /* margin-top: 20px; */
}
.swiperTitle:hover,
.swiperTitle:active {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background-image: linear-gradient(to top, var(--blueColor), white);
}

.img {
  display: block;
  position: relative;
  width: 100%;
  height: 45%;
}
.swiperTitle {
  position: relative;
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.5em;
  background-image: linear-gradient(
    to right,
    var(--lightBlueColor),
    var(--blueColor)
  );
  font-size: 14px;
  color: var(--backgroundColor);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.imgBg {
  filter: brightness(50%);
}
.slider__title {
  position: absolute;
  color: white;
  margin-top: -85px;
  padding: 10px;
  font-weight: 600;
}
.slider__list {
  position: relative;
  margin: 5px 10px 40px 0;
  padding: 10px 15px;
}
.slider__list li {
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
}
@media screen and (min-width: 450px) {
  .mySwiper {
    width: 100%;
  }
  .slider__title {
    margin-top: -65px;
  }
  .swiperTitle {
    left: 0;
  }
}
@media screen and (min-width: 768px) {
  .swiperTitle {
    left: 0;
  }
  .swiper-container {
    width: 768px;
  }
  .slide {
    width: 40%;
  }
}
@media screen and (min-width: 1000px) {
  .swiperTitle {
    height: auto;
  }
}
