.feedbacksList {
  margin-top: 50px;
}
.feedbacksListItem {
  font-family: var(--mainFont);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 20px 5px;
  padding: 10px 30px;
  background-color: var(--whiteColor);
}
.feedbackText {
  font-weight: 600;
}
.userName {
  font-weight: 800;
}
.date {
  font-style: italic;
}
.flexWrap {
  display: flex;
  justify-content: space-between;
}
.feedbacksListItem .ratedStar {
  fill: var(--perfectLightBlue);
}
