.footer {
  position: relative;
  padding: 20px 0 40px 0;
  background-color: var(--blueColor);
  margin-top: 40px;
  font-weight: 200;
}
.footerWrap {
  display: block;
}
.logoDesc {
  width: 50%;
  padding: 5px;
  padding-left: 10px;
  border-left: 1px solid var(--perfectLightBlue);
  color: var(--backgroundColor);
}
.linkBox {
  width: 100%;
  margin-top: 52px;

  text-align: center;
}
.linkBox__link {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--backgroundColor);
}
.linkBox__link:hover {
  color: var(--textColor);
}
.linkBox__icon {
  position: relative;
  top: 3px;
  right: 5px;
  font-size: 18px;
}
.footer__nav_list {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: var(--backgroundColor);
}
.footer__nav_list:nth-of-type(2) {
  display: none;
}
.nav_list__item {
  margin: 5px 0;
}
.nav_list__link:hover {
  color: var(--textColor);
}
.contactsSection_logo {
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 0 40px 0;
  }
  .footerWrap {
    display: flex;
    font-size: 10px;
  }
  .footer__nav_list {
    width: 20%;
    margin-top: 50px;
    text-align: left;
  }
  .footer__nav_list:nth-of-type(2) {
    display: block;
  }
  .contactsSection_logo {
    width: 30%;
    justify-content: space-around;
    margin-right: 30px;
  }
  .linkBox {
    width: 30%;
    margin-top: 44px;
    padding-left: 24px;
    text-align: left;
  }
  .linkBox__icon {
    font-size: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .footerWrap {
    font-size: 16px;
  }
  .footer__nav_list {
    margin-top: 60px;
  }
  .linkBox {
    padding-left: 50px;
    margin-top: 48px;
  }
  .linkBox__icon {
    font-size: 22px;
  }
}
