.footer {
  position: relative;
  padding: 20px 0 40px 0;
  font-weight: 400;
  background-color: var(--whiteColor);
}
.footer::before {
  content: "";
  height: 20px;
  width: 100%;
  display: block;
  background-image: linear-gradient(
    to bottom,
    var(--perfectLightBlue),
    var(--blueColor)
  );
}
.footerWrap {
  display: block;
}
.footerWrap .logo {
  align-items: flex-start;
}
.logoDesc {
  width: 50%;
  padding: 5px;
  padding-left: 10px;
  border-left: 1px solid var(--perfectLightBlue);
}
.linkBox {
  width: 100%;
  margin-top: 52px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.linkBox__link {
  display: flex;
  margin-bottom: 10px;
  margin-top: 16px;
  align-items: center;
}
.linkBox__link:hover {
  color: var(--perfectLightBlue);
}
.linkBox__icon {
  position: relative;

  right: 5px;
  font-size: 18px;
}
.footer__nav_list {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.footer__nav_list:nth-of-type(2) {
  display: none;
}
.nav_list__item {
  margin: 5px 0;
}
.nav_list__link:hover {
  color: var(--perfectLightBlue);
}
.contactsSection_logo {
  width: 100%;
  justify-content: center;
}
.callBtn {
  position: relative;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 0 40px 0;
  }
  .footerWrap {
    display: flex;
    font-size: 10px;
    padding-top: 40px;
    align-items: flex-start;
  }
  .footer__nav_list {
    width: 20%;
    margin-top: 0;
    text-align: left;
  }
  .footer__nav_list:nth-of-type(2) {
    display: block;
  }
  .contactsSection_logo {
    width: 30%;
    justify-content: space-around;
    margin-right: 30px;
  }
  .linkBox {
    width: 30%;
    margin-top: 0;
    padding-left: 24px;
    display: block;
    text-align: left;
  }
  .linkBox a {
    margin-top: 0;
  }
  .linkBox__icon {
    font-size: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .footerWrap {
    font-size: 16px;
  }

  .linkBox {
    padding-left: 50px;
  }
  .linkBox__icon {
    font-size: 22px;
  }
}
