.bg {
  background: linear-gradient(to bottom, var(--lightBlueColor2) 70%, white 0%);
}

.feedbackSectionWrap {
  margin-bottom: 100px;
}
.WorksGallery {
  background-color: white;
  padding: 40px 0;
}
.ourBenefits {
  display: none;
  background-image: url("/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .feedbackSectionWrap {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1000px) {
  .ourBenefits {
    display: block;
  }
}
