.worksGallery {
  padding-top: 40px;
}
.img {
  position: relative;
  width: auto;
  height: 200px;
  cursor: pointer;
}
.slide {
  height: 200px;
  box-shadow: var(--smallShadow);
  margin-top: 120px;
}
.mySwiper {
  position: relative;
  margin-top: -105px;
  height: 370px;
  padding: 10px;
}
.worksGallery_descWrap {
  position: relative;
  margin-top: 50px;
  padding: 0px 45px;
}
.worksGallery__link {
  margin: 0 auto;
  display: flex;
  margin-bottom: 40px;
  font-size: 12px;
  text-align: center;
  align-items: center;
  width: fit-content;
  text-transform: uppercase;
}
.worksGallery__link:hover {
  color: var(--blueColor);
}
.worksGallery .worksGallery__icon {
  font-size: 24px;
  margin-top: 2px;
}

@media screen and (min-width: 350px) {
  .worksGallery .worksGallery__icon {
    font-size: 54px;
    margin-top: -5px;
  }
  .worksGallery__link {
    font-size: 20px;
  }
}
@media screen and (min-width: 450px) {
  .worksGallery .worksGallery__icon {
    font-size: 56px;
  }
}

@media screen and (min-width: 768px) {
  .worksGallery .worksGallery__icon {
    font-size: 110px;
  }
}
