.ourWorkers {
  width: 100%;
  height: 200px;
}
.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .ourWorkers {
    height: 400px;
  }
}
