.contactsIcon {
  font-size: 90px;
  color: var(--blueColor);
}

.titleBox {
  display: flex;
  margin-top: 30px;
}
.titleBox__textBox {
  margin-top: 15px;
  margin-left: 20px;
}
.contactsWrap {
  margin-top: 30px;
  display: block;
  justify-content: space-between;
  color: var(--textColor);
}
.contactWrap__link {
  margin-bottom: 15px;
  display: block;
}
.contactWrap__link:hover {
  color: var(--blueColor);
}
.contactsWrap__box {
  margin-bottom: 20px;
  padding: 10px 30px;
  border: 1px solid var(--blueColor);
  border-radius: 0.5rem;
}
.contactWrap__link .CallIcon,
.contactWrap__link .EmailIcon {
  position: relative;
  top: 5px;
  right: 3px;
}
.InstLink {
  color: var(--blueColor);
}
.InstLink:hover {
  color: var(--perfectLightBlue);
}
.InstIcon {
  font-size: 20px;
  position: relative;
  top: 5px;
}
@media screen and (max-width: 450px) {
  .contactsWrap {
    font-size: 10px;
    width: 90%;
    margin: 0 auto;
  }
  .contactWrap__link .CallIcon,
  .contactWrap__link .EmailIcon {
    top: 3px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .contactsWrap {
    display: flex;
    width: 580px;
  }
  .contactsWrap__box {
    margin-bottom: 0;
  }
}
